body {
    background-color: #191919;
    color: white;
    text-align: left;
}

table {
    text-align: center;
    border: 5px solid;
    border-color: gray;
    align-items: center;
    width: auto;
    height: auto;
}

#title1 {
    text-align: center;
    font-size: 25px;
}

#title2 {
    text-align: center;
    font-size: 25px;
}

#DevTwitter {
    color: white;
}

#build {
    text-align: center;
}

#sessions {
    text-align: center;
}
